
[Unit]
Description=MCTP control protocol daemon

[Service]
Type=dbus
BusName=xyz.openbmc_project.MCTP
ExecStart=/usr/sbin/mctpd

[Install]
WantedBy=multi-user.target
